  <!-- Header -->
<app-nav></app-nav>

<!-- Directive defined by Angular. Acts as a placeholder for our components. Once the router has been initialized,
   this directive will load the component corresponding to the path. We don't need to add structural directive to accomplish this
  It does not get removed from the page, will remain in the document. It'll add our component below -->
 <router-outlet></router-outlet>
  
  <!-- Auth Modal -->
  <app-auth-modal *ngIf="!(auth.isAuthenticatedWithDelay$ | async)"></app-auth-modal>